# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Data / results
data/
results/raw/
results/web/
results/tmp/

# Chroma storage
chroma_data/

# OS / IDE
.DS_Store
.idea/
.vscode/

node_modules/

paper/